.arrow{
    position: absolute;
    width:45px;
    height:45px;
    z-index: 2;
}

.fc{
    height: 32.6vw;
    position: relative;
}

.fc-name {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    border: 2px solid #fff;
    background-size: cover;
    background-position: bottom center;
}

.banner-main:after,
.banner-main::after,
.fc-name:after,
.fc-name::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
    z-index:1;
}

.fc-name .arrow{
    bottom:30px;
    right:30px;
}

.fc-name span {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 30px;
    width: calc(100% - 135px);
    display: block;
    font-size: 28px;
    font-weight: 300;
    bottom: 30px;
    line-height: 35px;
}

.fc-name span strong{
    font-weight:700;
    font-size: 35px;
    display:block;
}

.fc-products{
    position: absolute;
    top:0;
    right:0;
    width: 70%;
    height:100%;
}

.fc-product{
    float:left;
    display:block;
    width:25%;
    height: 16.3vw;
    background:#ddd;
    border:2px solid #fff;
    position: relative;
}

.fc-product img.fc-product-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.fc-product img.stock{
    position: absolute;
    z-index: 2;
    top:0px;
    right:0px;
    width:120px;
    height:120px;
}

.fc-product strong {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    bottom: 0px;
    left: 0px;
    padding:15px;
    width:90%;
}






/* OPEN CONTENT */



.open-content {

}

.open-content .text {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.banner p,
.split-content p,
.open-content p {
    margin-top: 20px;
    font-size:16px;
    line-height:24px;
}

.banner h1,
.banner h2,
.open-content h1,
.split-content h2{
    font-size: 35px;
    font-weight: 400;
    line-height:45px;
    text-transform: uppercase;
}

.open-content h1,
.open-content h2{
    color:#8c4035;
}





/* SPLIT CONTENT */

.split-content .left, 
.split-content .right {
    padding: 60px;
    width: 50%;
    display:block;
    text-decoration: none;
    position: relative;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
}

.split-content .arrow{
    bottom:15px;
    right:15px;
}

.split-content .left.text {
    float: left;
}

.split-content .right.text {
    float:right;
}

.split-content .text{
    padding-right:100px;
}

.split-content .left.image{
    position: absolute;
    left:0px;
    top:0px;
    height:100%;
}

.split-content .right.image {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.split-content {
    position: relative;
}

.split-content .image {
    background-size: cover;
    background-position: bottom;
}




/* BANNER */

.banner {
    height: 750px;
    position: relative;
    background:transparent;
}

.banner a{
    display:block;
    color:#fff;
    text-decoration: none;
}

.banner-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background:#eee;
    border:2px solid #fff;
    background-size: cover;
    background-position: bottom center;
}

.banner-main h1{
    font-size:60px;
    line-height:72px;
}

.banner-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 30%;
    border:2px solid #fff;
}

.banner-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 50%;
    border:2px solid #fff;
}

.banner-main-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 80%;
    padding: 45px;
    z-index: 2;
}

.banner-side-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    width: 80%;
}

.banner .arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

@media screen and (max-width: 1281px) {

    .banner{
        height:600px;
    }
    
}

@media screen and (max-width: 1171px) {

    .banner-main{
        width:60%;
    }
    
    .banner-top,
    .banner-bottom{
        width:40%;
    }
    
}

@media screen and (max-width: 960px) {
    
    .banner{
        height:auto;
    }
    
    .banner a{
        position: relative;
        width:100%;
        height:auto;
    }
    
    .banner-main-info,
    .banner-side-info{
        position: relative;
    }
    
}

