.arrow{
    position: absolute;
    width:45px;
    height:45px;
    z-index: 2;
}

.fc{
    height: 32.6vw;
    position: relative;
}

.fc a{
    text-decoration: none;
}

a.fc-product:before,
a.fc-product::before {
    content:'';
    display:block;
    position:absolute;
    bottom:0;
    width:100%;
    height:50%;
    z-index:1;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    opacity:.4;
}

.fc-name {
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    border: 2px solid #fff;
    background-size: cover;
    background-position: bottom center;
}

.banner-main:after,
.banner-main::after,
.fc-name:after,
.fc-name::after{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
    z-index:1;
}

.fc-name .arrow{
    bottom:30px;
    right:30px;
}

.fc-name span {
    position: absolute;
    z-index: 2;
    color: #fff;
    left: 30px;
    width: calc(100% - 135px);
    display: block;
    font-size: 28px;
    font-weight: 300;
    bottom: 30px;
    line-height: 35px;
}

.fc-name span strong{
    font-weight:700;
    font-size: 35px;
    display:block;
}

.fc-products{
    position: absolute;
    top:0;
    right:0;
    width: 70%;
    height:100%;
}

.fc-product{
    float:left;
    display:block;
    width:25%;
    height: 16.3vw;
    background:#ddd;
    border:2px solid #fff;
    position: relative;
}

.fc-product img.fc-product-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.fc-product img.stock{
    position: absolute;
    z-index: 2;
    top:0px;
    right:0px;
    width:120px;
    height:120px;
}

.fc-product strong {
    position: absolute;
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    bottom: 0px;
    left: 0px;
    padding:15px;
    width:90%;
}


@media screen and (max-width: 1439px){
    
    .fc-product strong {
        font-size: 16px;
        line-height: 24px;
    }
    
    .fc-product img.stock {
        width: 80px;
        height: 80px;
    }
    
    .fc-name span {
        font-size: 18px;
        line-height: 28px;
    }

    .fc-name span strong {
        font-size: 26px;
    }
    
}

@media screen and (max-width: 1169px){

    .fc{
        height: auto;
    }

    .fc-name {
        width: 100%;
        position: relative;
        height: auto;
        display: block;
        padding: 30px;
    }

    .fc-products {
        width: 100%;
        position: relative;
    }

    .fc-product {
        width: 25%;
        height: 21.7vw;
    }

    .fc-name span {
        position: relative;
        left: auto;
        bottom: auto;
    }
    
}

@media screen and (max-width: 767px){

    .fc-product {
        width: 50%;
        height: 45vw;
    }
    
}



/* OPEN CONTENT */



.open-content {

}

.open-content .text {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.banner p,
.split-content p,
.open-content p {
    margin-top: 20px;
    font-size:16px;
    line-height:24px;
}

.banner h1,
.banner h2,
.open-content h1,
.split-content h2{
    font-size: 35px;
    font-weight: 400;
    line-height:45px;
    text-transform: uppercase;
}

.open-content h1,
.open-content h2{
    color:#8c4035;
}

/* SPLIT CONTENT */

.split-content .left, 
.split-content .right {
    padding: 60px;
    width: 50%;
    display:block;
    text-decoration: none;
    position: relative;
    border-left:2px solid #fff;
    border-right:2px solid #fff;
}

.split-content .arrow{
    bottom:15px;
    right:15px;
}

.split-content .left.text {
    float: left;
}

.split-content .right.text {
    float:right;
}

.split-content .text{
    padding-right:100px;
}

.split-content .left.image{
    position: absolute;
    left:0px;
    top:0px;
    height:100%;
}

.split-content .right.image {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}

.split-content {
    position: relative;
}

.split-content .image {
    background-size: cover;
    background-position: bottom;
}


.split-content p a{
    color:#fff;
    text-decoration: underline;
}

@media screen and (max-width: 960px) {
    
    .split-content .left.text,
    .split-content .right.text{
        height: auto;
        width: 100%;
        border:2px solid #fff;
        padding:30px;
    }

    .split-content .left.image,
    .split-content .right.image{
        position: relative;
        width: 100%;
        height: 40vw;
        float: left;
        border:2px solid #fff;
    }
    
    .split-content .text .arrow{
        display:none;
    }
    
}

/* THREE COLUMN */

.three-column-cta {
	background-image: url(../images/three-column-cta-bg.jpg);
	background-size: cover;
	background-position: center center;
	padding: 30px;
}

.three-column-cta .container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.three-column-cta a.box {
	width: 100%;
	float: left;
	margin-bottom: 15px;
	position: relative;
	padding: 30px 30px 60px;
	text-decoration: none;
	color: white;
}

.three-column-cta a.box.box-tan {
	background-color: #cca56c;
}

.three-column-cta a.box.box-dark-tan {
	background-color: #ac9872;
}

.three-column-cta a.box.box-red {
	background-color: #8b4037;
}

.three-column-cta a.box .sub-text {
	display: block;
	text-transform: uppercase;
}

.three-column-cta a.box .main-title {
	
}

.three-column-cta a.box p {
	margin-top: 15px;
	margin-bottom: 72px;
	font-size: 14px;
}

.three-column-cta a.box img {
	position: absolute;
	width: 45px;
	height: 45px;
	right: 15px;
	bottom: 15px;
}

@media (min-width: 960px) {
	
	.three-column-cta {
		padding: 60px;
	}
	
	.three-column-cta a.box {
		width: 25.33%;
		max-width: 330px;
		min-height: 300px;
		margin: 0 4%;
	}
	
}



















/* BANNER */

.banner {
    height: 750px;
    position: relative;
    background:transparent;
}

.banner a{
    display:block;
    color:#fff;
    text-decoration: none;
}

.banner-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background:#eee;
    border:2px solid #fff;
    background-size: cover;
    background-position: bottom center;
}

.banner-main h1{
    font-size:60px;
    line-height:72px;
}

.banner-top {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 30%;
    border:2px solid #fff;
}

.banner-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 50%;
    border:2px solid #fff;
}

.banner-main-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 80%;
    padding: 45px;
    z-index: 2;
}

.banner-side-info {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 30px;
    width: 80%;
}

.banner .arrow {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

@media screen and (max-width: 1281px) {

    .banner{
        height:600px;
    }
    
}

@media screen and (max-width: 1171px) {

    .banner-main{
        width:60%;
    }
    
    .banner-top,
    .banner-bottom{
        width:40%;
    }
    
}

@media screen and (max-width: 1024px){
    
    .banner h1,
    .banner h2,
    .open-content h1,
    .split-content h2{
        font-size: 26px;
        line-height:32px;
    }
    
}

@media screen and (max-width: 960px) {
    
    .banner{
        height:auto;
    }
    
    .banner a{
        position: relative;
        width:100%;
        height:auto;
    }
    
    .banner-main-info,
    .banner-side-info{
        position: relative;
    }
    
    .banner-main-info{
        width:100%;
    }
    
    .banner-main:after, 
    .banner-main::after, 
    .fc-name:after, 
    .fc-name::after{
        background: rgba(0,0,0,.5);
    }
    
}

/*** Cat Runner ***/

.cat-runner {
	background-size: cover;
	height: 100px;
}

/*** Logo Grid ***/ 

.logo-grid span {
	display: block;
	margin-bottom: 30px;
	font-size: 30px;
}

.logo-grid span strong {
	display: block;
}

.logo-grid a {
  width: 50%;
  height: 125px;
  float: left;
  position: relative;
  border: 2px solid #867872;
  margin-top: -2px;
  margin-left: -2px;
}

.logo-grid a img {
    width: auto;
    max-width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    max-height: 80px;
}

@media (min-width: 768px) {
	
	.logo-grid a {
		width: 25%;
	}

}



/* DIVIDER */

.divider{
    float:left;
    width:100%;
    height:20px;
    display:block;
    text-align: center;
    position: relative;
    margin:15px 0;
}

.divider img{
    display:inline-block;
    height:20px;
    width:auto;
    position: relative;
    z-index: 2;
}

.divider:before,
.divider::before {
    content:'';
    width:20%;
    height:2px;
    background:#ddd;
    position:absolute;
    left:40%;
    top:9px;
}
