html {
  box-sizing: border-box;
  color:#555;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: 100%/150%;
	letter-spacing: 1px!important;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	-moz-osx-font-smoothing: grayscale !important;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1; /* ie 6/7 */
}

.margin{
    width:calc(100% - 60px);
    margin:30px;
    float:left;
}

@media screen and (min-width: 768px) {
   
    .margin{
        width:calc(100% - 120px);
        margin:60px;
    }
    
}

.brown{
    background:#936249;
    color:#fff;
}

.lightbrown{
    background:#867872;
    color:#fff;
}

.burgundy{
    background:#8c4035;
    color:#fff;
}

.yellow{
    background:#cfa85d;
    color:#fff;
}

.breadcrumbs {
	margin: 30px 60px 0;
}

.breadcrumbs .prev {
	float: left;
	color: #636363;
}

.breadcrumbs .sep {
	background-image: url(../images/breadcrumbs-arrow.svg);
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	width: 12px;
	height: 22px;
	margin: 0 10px;
}

.breadcrumbs .current {
	float: left;
	font-weight: bold;
}