header {
	width: 100%;
	float: left;
}

header .time-bar {
	width: 100%;
	float: left;
	background-color: #8c4035;
	text-align: center;
	padding: 13px 0;
	margin-bottom: 30px;
}

header .time-bar p {
	color: white;
	font-weight: 600;
	display: inline-block;
}

header .nav {
	width: 100%;
	float: left;
  padding:0 60px;
  position: relative;
}

header .nav .logo {
	float: left;
	margin: 10.5px 30px 10.5px 0;
}

header .nav .main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

header .nav .main-menu li {
	float: left;
	margin: 0 15px;
}

header .nav .main-menu li a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 15px;
}

header .nav .location {
	float: right;
}

header .nav .location a {
	text-decoration: none;
	color: #8b4037;
	font-weight: 600;
}

header .nav .location a.phone {
	font-weight: 900;
}

